.flex-container {
    display: flex;
    box-shadow: 4px 4px 16px grey; 
    border-radius: 25px;  
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 22px;
    text-align: left;
    color: #737373;
  }

.chart{
  display: block;
    width: 578px !important;
    height: 289px !important;
}

.amount{
  font-size: 60px
}